Name: <%= @mail_info["name"] %>
Email: <%= @mail_info["email"] %>
Address: <%= @mail_info["street-address"] %>
City: <%= @mail_info["city"] %>
State: <%= @mail_info["state"] %>
Zip: <%= @mail_info["zip"] %>
Dispatch Number: <%= @mail_info["dispatch-number"] %>
Emergency Number: <%= @mail_info["emergency-number"] %>
Fax Number: <%= @mail_info["fax-number"] %>
Open / Close Times: <%= @mail_info["open-close"] %>
Corp Type: <%= if (@mail_info["corp-type"] == "1")
                 "Sole Proprietor"
               elsif (@mail_info["corp-type"] == "2")
                 "C Corp"
               elsif (@mail_info["corp-type"] == "3")
                 "S Corp"
               else
                 "Not Selected"
               end %>
TIN Number: <%= @mail_info["tin-number"] %>
DUNNS Number: <%= @mail_info["dunns-number"] %>
MC Number: <%= @mail_info["mc-number"] %>
US-DOT Number: <%= @mail_info["usdot-number"] %>
Broker Number: <%= @mail_info["broker-number"] %>
Insurance: <%= @mail_info["insurance"] %>
Agent: <%= @mail_info["agent"] %>
Limits: <%= @mail_info["limits"] %>
Type of work: <%= @mail_info["type-of-work"] %>
Number of Trucks: <%= @mail_info["number-of-trucks"] %>
Type of Trucks: Pickup(<%= @mail_info["trucks-pickup"] ? "YES" : "NO" %>) - Vans(<%= @mail_info["trucks-vans"] ? "YES" : "NO" %>)
Type of Equipment:
Flatbeds - <%= @mail_info["flatbeds"] ? "YES" : "NO" %>
Goosenecks - <%= @mail_info["goosenecks"] ? "YES" : "NO" %>
Wedge - <%= @mail_info["wedge"] ? "YES" : "NO" %>
RGN - <%= @mail_info["rgn"] ? "YES" : "NO" %>
Vans - <%= @mail_info["vans"] ? "YES" : "NO" %>
Boat - <%= @mail_info["boat"] ? "YES" : "NO" %>
Num. Drivers w/ TWIC Cards: <%= @mail_info["number-with-twic"] %>
Transport Tags: <%= @mail_info["transport-tags"] %>
Warehouse Space: <%= @mail_info["warehouse-space"] %>
Secure Outdoor Storage: <%= @mail_info["secure-storage"] %>
Any area you need help in?: <%= @mail_info["help-area"] %>
Area worked: <%= @mail_info["area-worked"] %>



