%center
  = form_tag(:id => "mail", :method => "post", :action => "mailer") do
    %table{:style => "width:500px;"}
      %tr
        %td{:style => "font-size:16px;"}
          Name
        %td
          = text_field_tag "name"
      %tr
        %td{:style => "font-size:16px;"}
          Email Address
        %td
          = text_field_tag "email"
      %tr
        %td{:style => "font-size:16px;"}
          Address
        %td
          = text_field_tag "street-address"
      %tr
        %td{:style => "font-size:16px;"}
          City
        %td
          = text_field_tag "city"
      %tr
        %td{:style => "font-size:16px;"}
          State
        %td
          = text_field_tag "state"
      %tr
        %td{:style => "font-size:16px;"}
          Zip
        %td
          = text_field_tag "zip"
      %tr
        %td{:style => "font-size:16px;"}
          Dispatch #
        %td
          = text_field_tag "dispatch-number"
      %tr
        %td{:style => "font-size:16px;"}
          Emergency #
        %td
          = text_field_tag "emergency-number"
      %tr
        %td{:style => "font-size:16px;"}
          Fax #
        %td
          = text_field_tag "fax-number"
      %tr
        %td{:style => "font-size:16px;"}
          Open/Close Times
        %td
          = text_field_tag "open-close"
      %tr
        %td{:style => "font-size:16px;"}
          Corp Type
        %td
          = select_tag("corp-type", options_for_select([['Sole Proprietor', '1'],['C Corp', '2'],['S Corp','3']], '3'))
      %tr
        %td{:style => "font-size:16px;"}
          TIN #
        %td
          = text_field_tag "tin-number"
      %tr
        %td{:style => "font-size:16px;"}
          DUNNS #
        %td
          = text_field_tag "dunns-number"
      %tr
        %td{:style => "font-size:16px;"}
          MC #
        %td
          = text_field_tag "mc-number"
      %tr
        %td{:style => "font-size:16px;"}
          US-DOT #
        %td
          = text_field_tag "usdot-number"
      %tr
        %td{:style => "font-size:16px;"}
          BROKER #
        %td
          = text_field_tag "broker-number"
      %tr
        %td{:style => "font-size:16px;"}
          INSURANCE
        %td
          = text_field_tag "insurance"
      %tr
        %td{:style => "font-size:16px;"}
          Agent
        %td
          = text_field_tag "agent"
      %tr
        %td{:style => "font-size:16px;"}
          Limits
        %td
          = text_field_tag "limits"
      %tr
        %td{:style => "font-size:16px;"}
          Type of Work Performed
        %td
          = text_area_tag "type-of-work"
      %tr
        %td{:style => "font-size:16px;"}
          Number of Trucks
        %td
          = text_field_tag "number-of-trucks"
      %tr
        %td{:style => "font-size:16px;"}
          Type of Trucks
        %td
          = check_box_tag("trucks-pickup")
          Pickups
          %br
          = check_box_tag("trucks-vans")
          Vans
          %br
          %br
          %br
      %tr
        %td{:style => "font-size:16px;"}
          Type of Equipment
        %td
          = check_box_tag("flatbeds")
          Flatbeds
          %br
          = check_box_tag("goosenecks")
          Goosenecks
          %br
          = check_box_tag("wedge")
          Wedge
          %br
          = check_box_tag("rgn")
          RGN
          %br
          = check_box_tag("vans")
          Vans
          %br
          = check_box_tag("boat")
          Boat
          %br
          %br
      %tr
        %td{:style => "font-size:16px;"}
          Num. Drivers w/ TWIC Cards
        %td
          = text_field_tag "number-with-twic"
      %tr
        %td{:style => "font-size:16px;"}
          Transport Tags
        %td
          = text_field_tag "transport-tags"
      %tr
        %td{:style => "font-size:16px;"}
          Warehouse Space
        %td
          = text_field_tag "warehouse-space"
      %tr
        %td{:style => "font-size:16px;"}
          Secure Outdoor Storage
        %td
          = text_field_tag "secure-storage"
      %tr
        %td{:style => "font-size:16px;"}
          Any area you need help in?
        %td
          = text_area_tag "help-area"
      %tr
        %td{:style => "font-size:16px;"}
          Area worked
        %td
          = text_field_tag "area-worked"
      %tr{:style => "height:30px;"}
        %td
        %td
    = submit_tag "Submit", :class => "submit"









