#right
  #right_row2
    #right_row2_left
      %h5
        Welcome to the World of Genesis
      %img{ :src => "assets/phot1.png", :class => "phot", :alt => ""}
      %span.span_lh
        %strong
          WHAT IS GENESIS?
        %br
        %br
        We are a group of specialty transporters that specialize in boats, RV's, jet skis, and campers. Why use Genesis and not a broker? We interact with your customers as your own in-house transporter. We bring the best customer service in the business to both your staff and your customers. We do not broker any of your transportation requests. We are the transporter. Why is that so important to your company? First, "Brokers" only dispatch your moves to transporters. They rely on the transporters' authority and insurance.
        %br
        %br
        Brokers take 10% to 20% of the load as their fee. Let's say a move is quoted to you by a broker at $2075.00. Under Genesis you would pay only $1650.00. That's a savings of $375 a move. Our maximum fee is just 5% per move. No more third parties. Communication is crystal clear when you deal with the source. We do not quote you a price and then try to get a transporter. In fact, if we do not have someone to do a move we will tell you. We also will explain the difference in pricing at that time. We give you the honest difference.
        %br
        %br
        %strong
          Let's review:
        %br
        %br
        By using genesis you are using a transporters with the authority to transport your products, who carries the correct insurance, and can do it for a much lower price. Why use anyone else?
%div{ :style =>"clear: both; width: 100%; height:1px;"}

