#right
  #right_row1
    .right_box
      %a{:href => "/questionnaire"}
        %img{:src => "assets/register.png",:style => "margin-left:140px;"}
  .div_line{:style => " height: 20px;"}
  #right_row2
    #right_row2_left
      %h5
        About Genesis
      %img{ :src => "assets/phot1.png", :class => "phot", :alt => ""}
      %span.span_lh
        Genesis was formed by several small transporters who are tired of losing revenue to large firms and  brokers. In "Land Line Magazine", Aug-Sept Issue, page 19 it is stated that the CSA has passed a bill to raise the brokers bond from the current $10,000.00 to $75,000 in 2013.
        %br
        %br
        We transporters (small truck RV, Boat, bumper pulls, and goosneck) have been plagued with a lack of brokers who want to work in our field. The few that have are taking a large percentage of our profits in fees. Some as high as 20% per ticket. With this new law these brokers will either fold or raise their rates to cover the added expense. We have been getting emails from some of the big brokerages stating as such and wanting us to sign up.  After a phone conversation in August of this year, I was told that they do not want us because of deficient revenue.
        %br
        %br
        If the brokers we now use leave, and the big boys don't want us, what's left? Uship? We already know we can't haul for 80 cents a mile or out bid a guy with no license, insurance, or experience. The market will continue, but it will all end up on uship and we will all go under... or will we?
        %br
        %br
        For as little as a cup of coffee a day you can become a member of Genesis. With a large group we can go directly to the shippers. Your dues will go toward buying leads and having us dispatch you. We are not now, and never will be a broker. All runs will be paid to you directly. You will know the exact amount of the move for a change. You will pay us instead of us paying you.
        %br
        %br
        Genesis is designed to work off of your monthly dues plus 5% of the ticket. In short, we are set up to do what everyone is going to have to do to survive in today's economy. We have to cut out all the fat by putting the shippers and transporters directly together. The shippers get a lower rate and the transporters get a higher one. It's a simple formula, and it works for you. This country was built on the backs of the little people. It's time we returned to that way of life. It's time we quit working against each other and started working together. It's time to trim the fat. It's time for Genesis. Experience the honest difference.
        %br
        %br
        Once we sign you up we will release all of our broker accounts, and free boards we have been using. We will not double broker ever. We release this information at no additional charge. We want you to run loaded both ways. These accounts are already cut deeply. Remember, we earn our money the old fashioned way. We work for it. Send no money now. Fill out our profile questionaire, and we will contact you after we have reviewed it.
%div{ :style =>"clear: both; width: 100%; height:1px;"}

