#bottom
  .bottom_box.bottom_box1
    %h1
      %br
    %img{ :src => "assets/phot2.png", :alt => ""}
    %div{ :style => " height: 5px; width: 100%"}
  .bottom_box.bottom_box2
    %h1
      %br
    %ul{ :class => "bottom_ul"}


  .bottom_box.bottom_box3
    %h1
      %br
    .bottom_box3_text
      .bottom_box3_link
      .bottom_box3_link
      .bottom_box3_link
      .bottom_box3_link

  .bottom_box.bottom_box4
    %h1
      %br
    .contact_text
      %br
      %span{:style => "font-size:16px;"}
        Genesis Trucking Consultants
      %br
      "The Honest Difference"

  %div{:style => "clear: both; width: 100%; height:15px;"}

