#buttons
  %a{:id => "buttons1", :href => root_path, :class => "but", :title => ""}
    Transporter Information
  %a{:href => "/customer_info", :class => "but",  :title => ""}
    Customer Information
