- if flash[:notice]
  %br
  %div{:style => "background:url(assets/buttons.gif) left top no-repeat; padding:20px;"}
    %center
      %span{:style => "font-size:20px;"}
        = flash[:notice]
#header
  #logo
    %a{ :href => root_path }
      %span.logo_span=title
      %br
        THE HONEST DIFFERENCE


