#left
  .left_title
    Contact Info
  %br
  %strong{:style => "font-size:20px;text-decoration:underline;"}
    Richard Paulton & Corp.
  %br
  %br
  %table{:style => "width:360px;"}
    %tr
      %td
        %strong{:style => "font-size:16px;"}
          Phone:
      %td{:style => "align:right;"}
        %strong{:style => "font-size:16px;"}
          (561) 313-7576 
    %tr{:style => "height:10px;"}
      %td
      %td{:style => "align:right;"}
    %tr
      %td
        %strong{:style => "font-size:16px;"}
          Fax:
      %td{:style => "align:right;"}
        %strong{:style => "font-size:16px;"}
          (561) 793-5446
    %tr{:style => "height:10px;"}
      %td
      %td{:style => "align:right;"}
    %tr
      %td
        %strong{:style => "font-size:16px;"}
          Email:
      %td{:style => "align:right;"}
        %strong{:style => "font-size:16px;"}
          %a{:href => "mailto:paulton@aol.com", :style => "color:#FFFFFF;"}
            Richard Paulton
  %br
-#   .left_title
-#     New York Office
-#   %br
-#   %strong{:style => "font-size:20px;"}
-#     Cheri O'Brien
-#   %br

