<script type="text/javascript" src="assets/jquery-1.4.3.min.js"></script>
<script type="text/javascript" src="assets/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript">
  $(window).load(function() {
  $('#slider').nivoSlider();
  });
</script>
