#wrapper
  #slider-wrapper
    #slider{ :class => "nivoSlider"}
      %img{:src => "assets/top_img.jpg", :alt => ""}
      %img{:src => "assets/top_img2.jpg", :alt => ""}
      %img{:src => "assets/top_img3.jpg", :alt => ""}
      %img{:src => "assets/top_img4.jpg", :alt => ""}
      %img{:src => "assets/top_img5.jpg", :alt => ""}
