<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <meta name="keywords" content="vehicle transport, transport services, rv towing, boat towing" />
    <meta name="description" content="Genesis Trucking Consultants provides quality vehicle, boat, and rv transport services." />
    <link href="assets/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="assets/nivo-slider.css" type="text/css" media="screen" />
  </head>
  <body>
    <div id="main">
      <!-- header -->
      <%= render :partial => "layouts/header" %>
      <!-- top -->
      <div class="top">
        <div class="top_img">
          <%= render :partial => "layouts/slider" %>
          <%= render :partial => "layouts/slider_js" %>
        </div><div style="clear: both; padding-top: 40px;"></div>
      </div>
      <!-- buttons -->
      <%= render :partial => "layouts/buttons" %>
      <!-- content -->
      <div id="content">
        <div id="content_top">
          <div id="content_bott">
            <%= render :partial => "layouts/left" %>
            <!-- Main Content -->

            <%= yield %>
          </div>
        </div>
      </div>
      <div style=" height: 15px; width: 100%"></div>
      <!-- bottom -->
      <%= render :partial => "layouts/bottom" %>
      <%= render :partial => "layouts/footer" %>
    </div>
  </body>
</html>
